@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AboutMe</h1>
    <p>Here are some things about me that I would like to talk about</a>.</p>

    <p>Been coding since 2016 and have been always curious about how programs work.</p>

    <img src ="Pictures/Me.jpg" alt="CoolGuy">

    <p>This Website will demonstrate some things that interest me and some programs that I've worked on.</p>
    
    <ol>
        <li>Caffeine Killer is one of my favorite programs I've written as I'm a big coffee guy. I wrote these in multiple languages so I can use a reference on the syntax for each.</li>
        <li>I've worked with C, C++, and C# in the past. I've taken a C class at CCAC, along with C++ with Data Structures. I've dabbled in C# here and there, and now I'm gonna utilize it to its extent</li>
        <li>On this page, I plan to make a basic music player where the user will select a file and play a file. </li>
        <li>I'm gonna demonstrate linked lists and display a string on the front end. </li>
    </ol>


<img src ="Pictures/Coffee.jpg" alt="Coffee">

</div>
