@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AboutMe</h1>
    <p>Here are some things about me that I would like to talk about</a>.</p>

    


</div>
