@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Caffeine Killer</h1>
    <p>This program will calculate how many milligrams of caffeine it will take to kill you</a>!</p>

    <!-- User Input -->
    <label for="input">Enter the amount of caffeine in milligrams</label>
    <input type="text" id="input" name="input">
    <br>

    <button type="submit">Calculate</button>

    <!-- Display Results 

    // @@if (Model.DrinkResults.HasValue)
    {
        //<p>Number of drinks that will kill you: @@Model.DrinkResults
    }
    
    
</div>
