@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Caffeine Killer</h1>
    <p>This program will calculate how many milligrams of caffeine it will take to kill you</a>!</p>
</div>
