@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Linked List</h1>
    <p>Create a linked list and displaying it on screen</a>.</p>
</div>
