@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Music Player</h1>
    <p>A basic music player were you can play a music file from your device</a>.</p>
</div>
