@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--CSS-->
<style>
    div.headOne
    {
        background-color: blueviolet;
        
    }

    div.listText
    {
        font-size:x-large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
</style>

<div class="text-center">

    <div class ="headOne">
    <h1 class="display-4">C, C++, and C#</h1>
    </div>
    <p>I'll be discussing the differences between these three C programming languages</a>.</p>

    <h2>Basic Differences Between these Three Cs</h2>
    <div class = "listText">
    <li>C: Invented by: Dennis Ritchie  Year:1972   Description:    Low Level Programming Language</li>
    <li>C++: Invented by: Bjarne Stroustrup  Year:1985   Description:    Intermediate Programming Language that Introduced Object Oriented Programming</li>
    <li>C#: Invented by: Anders Hejlsberg, Peter Golde, Scott Wiltamuth  Year:2002   Description:    High Level Programming Language</li>
</div>
</div>
