@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">C, C++, and C#</h1>
    <p>I'll be discussing the differences between these three C programming languages</a>.</p>
</div>
